<div class="footer-text">
  <address>
    5118 SE Powell Boulevard<br>
    Portland, OR 97206<br>
    <abbr title="Phone">P:</abbr> (503) 886-9633
  </address>
</div>
<small>Copyright® 2021 | All rights reserved | Site by Daniel Sasser</small>
<div class="footer-logos">
    <span class="ai-eho" title="Equal Housing Opportunity"></span>
    <span class="ai-mls" title="Multiple Listing Service"></span>
    <span class="ai-realtor" title="Realtor"></span>
</div>
