{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'info-card',
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{%
set background_url = content.field_background_image[0]['#item'].entity.uri.value ? file_url(content.field_background_image[0]['#item'].entity.uri.value) : '#'
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }} style="background-image: url({{ background_url }})">
        {% block content %}
            <div class="cta" id="cta-area">
                <div class="textwidget">
                    <div class="">
                        <div class="card__cta__item" onclick="">
                            <span class="cta-title">{{ content.field_card_title }}</span>
                            <div class="cta-tile-info">
                                {{ content.field_card_description }}
                                {% for link in paragraph.field_card_links %}
                                    <a href="{{ link.url }}" class="cta-learn-more">{{ link.title }}</a>
                                {% endfor %}
                            </div><!-- end cta-title-info -->
                        </div><!-- end col-md-6 -->
                    </div><!-- end row -->
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}
