// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/hero";
@import "component/stat-card";
@import "component/cta-card";
@import "component/page-slice";
@import "component/info-card";
@import "component/cta-icon-card";
@import "component/general";
@import "component/footer";
@import "component/fonts";
@import "component/person";
@import "component/before-after";
@import "component/ratings";
@import "component/headline";
@import "component/real-estate";
@import "component/listing";
@import "component/video";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  font-family: 'Rubik', sans-serif;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
  color: @brand-primary;
  text-transform: uppercase;
  font-size: 2em;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: @font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: @gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.navbar-default {
  border-color: transparent;
}
