/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.

// Fonts
@icon-font-path: '../bootstrap/fonts/';
@font-family-sans-serif: "Rubik", sans-serif;
@fa-font-path: '../webfonts';

// Colors
@brand-primary: #8cc63e;
@brand-secondary: #329E57;
@brand-tertiary: #D85B44;
@brand-quaternary: #B73970;

@navbar-default-bg: #fff;
@brand-success: darken(@brand-primary, 10%);
@brand-info:    #086D2A;
@brand-warning: #D85B44;
@brand-danger:  #B73972;
@state-info-text: @brand-warning;
@state-warning-text: @brand-quaternary;

//** Global textual link color.
@link-color: @brand-secondary;
