.before-after-card {
  margin: 1em auto;
  text-align: center;
  &__media {
    position: relative;
    display: inline-block;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(140, 198, 62, 0.7);
      opacity: 0;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }
  }
  &__media__info {
    color: #FFFFFF;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 39%;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
  }
  &__media__image {
    display: inline-block;
    img {
      display: inline;
    }
  }
}
.before-after-card__media:hover .before-after-card__media__info {
  opacity: 1;
}
.before-after-card__media:hover::before {
  opacity: 1;
}

/**
 * Before After Full page.
 */

.before-after-full {
  &__media {
    position: relative;
    text-align: center;
  }
  &__media_featured_photo {
    max-width: 100%;
    height: auto;
    img {
      width: 100%;
    }
    margin-bottom: 2.5em;
  }
  &__media_headline {
    position: absolute;
    color: #FFFFFF;
    margin: auto;
    left: 0;
    bottom: 50%;
    right: 0;
    text-align: center;
  }
  &__carousel_heading {
    color: #FFFFFF;
    text-align: center;
    h3 {
      margin: 0;
    }
    .before {
      background: darken(@brand-primary, 15%);
    }
    .after {
      background: darken(@brand-primary, 5%);
    }
  }
  &__details {
    margin-top: 2.5em;
  }
}
