.cta-card {
  text-align: center;
  .field--name-field-card-description {
    padding: 2em;
  }
  .field--name-field-card-links {
    a {
      padding: 22px 73px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
.jumbotron.cta-card {
  background-color: #ffffff;
}
