.paragraph--type--cta-icon-card {
  color: @brand-tertiary;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  &.light {
    color: #ffffff;
  }
  a {
    color: inherit;
    text-decoration: none;
    .glyphicon {
      font-size: 5em;
      &:hover {
        background-color: @gray-lighter;
      }
      &:before {
        margin-right: 2px;
      }
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover {
    text-decoration: none;
  }
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  h2 {
    color: darken(@brand-primary, 60%);
  }
}
