/*
 * Copyright AgentImage
 * Version: 1.2.7
 */


/* Start - Dont override */
@font-face {
  font-family: 'agentimage';
  src:    url('../fonts/agentimage.eot?ik89kw');
  src:    url('../fonts/agentimage.eot?ik89kw#iefix') format('embedded-opentype'),
  url('../fonts/agentimage.ttf?ik89kw') format('truetype'),
  url('../fonts/agentimage.woff?ik89kw') format('woff'),
  url('../fonts/agentimage.svg?ik89kw#agentimage') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ai-active-rain, .ai-bbb, .ai-blogger, .ai-caimeiju, .ai-facebook, .ai-flickr,
.ai-foursquare, .ai-google-plus, .ai-houzz, .ai-instagram, .ai-linkedin, .ai-pinterest,
.ai-trulia, .ai-skype, .ai-tumblr, .ai-twitter, .ai-vimeo, .ai-yelp, .ai-yahoo,
.ai-youtube, .ai-zillow, .ai-footer-logo, .ai-mls, .ai-realtor, .ai-eho, .ai-lock-c,
.ai-location-a, .ai-lock-a, .ai-comment-a, .ai-settings, .ai-world-o, .ai-wordpress,
.ai-world-f, .ai-user, .ai-video, .ai-showers, .ai-tag, .ai-settings-o, .ai-question-o,
.ai-rss, .ai-menu, .ai-phone, .ai-phone-o, .ai-medal, .ai-menu-o, .ai-map, .ai-map-f,
.ai-language, .ai-location, .ai-house, .ai-house-f, .ai-house-i, .ai-fax, .ai-funds, .ai-envelope,
.ai-envelope-o, .ai-coin, .ai-dollar-o, .ai-envelope-f, .ai-check-list, .ai-check-o, .ai-cellphone,
.ai-check-a, .ai-calendar, .ai-car, .ai-bed, .ai-buildings, .ai-lock-d, .ai-lock-b, .ai-magnifying-glass-b,
.ai-magnifying-glass-c, .ai-magnifying-glass-d, .ai-magnifying-glass-e, .ai-magnifying-glass-f,
.ai-magnifying-glass-g, .ai-magnifying-glass-a, .ai-layout-grid-active, .ai-layout-list, .ai-layout-list-active,
.ai-layout-table, .ai-layout-table-active, .ai-layout-grid, .ai-file-powerpoint, .ai-file-sound, .ai-file-image-o,
.ai-file-pdf, .ai-file-excel, .ai-file-f, .ai-file-code, .ai-file-image-p, .ai-document-a, .ai-file-o, .ai-file-zip,
.ai-folder, .ai-file-text-r, .ai-file-video, .ai-file-word, .ai-file-text-f, .ai-file-text-o, .ai-arrow-c-n, .ai-arrow-c-p,
.ai-arrow-d-n, .ai-arrow-d-p, .ai-arrow-e-n, .ai-arrow-e-p, .ai-arrow-a-n, .ai-arrow-a-p,
.ai-arrow-b-n, .ai-arrow-b-p,
[class^="ai-font-"],
[class*=" ai-font-"],
[class^="ai-font-"] i,
[class*=" ai-font-"] i {
  position: relative;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'agentimage' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* End - Dont override */

.ai-active-rain:before,
.ai-font-active-rain:before {
  content: "\b0118";
}
.ai-bbb:before,
.ai-font-bbb:before {
  content: "\b0117";
}
.ai-blogger:before,
.ai-font-blogger:before {
  content: "\b0116";
}
.ai-caimeiju:before,
.ai-font-caimeiju:before {
  content: "\b0115";
}
.ai-facebook:before,
.ai-font-facebook:before {
  content: "\b0114";
}
.ai-flickr:before,
.ai-font-flickr:before {
  content: "\b0113";
}
.ai-foursquare:before,
.ai-font-foursquare:before {
  content: "\b0111";
}
.ai-google-plus:before,
.ai-font-google-plus:before {
  content: "\b0110";
}
.ai-houzz:before,
.ai-font-houzz:before {
  content: "\b0108";
}
.ai-instagram:before,
.ai-font-instagram:before {
  content: "\b0106";
}
.ai-linkedin:before,
.ai-font-linkedin:before {
  content: "\b0105";
}
.ai-pinterest:before,
.ai-font-pinterest:before {
  content: "\b0104";
}
.ai-trulia:before,
.ai-font-trulia:before {
  content: "\b0103";
}
.ai-skype:before,
.ai-font-skype:before {
  content: "\b0102";
}
.ai-tumblr:before,
.ai-font-tumblr:before {
  content: "\b0101";
}
.ai-twitter:before,
.ai-font-twitter:before {
  content: "\b0100";
}
.ai-vimeo:before,
.ai-font-vimeo:before {
  content: "\b0099";
}
.ai-yelp:before,
.ai-font-yelp:before {
  content: "\b0098";
}
.ai-yahoo:before,
.ai-font-yahoo:before {
  content: "\b0097";
}
.ai-youtube:before,
.ai-font-youtube:before {
  content: "\b0096";
}
.ai-zillow:before,
.ai-font-zillow:before {
  content: "\b0095";
}
.ai-font-snapchat:before {
  content: "\b0119";
}
.ai-footer-logo:before,
.ai-font-footer-logo:before {
  content: "\b0093";
}
.ai-mls:before,
.ai-font-mls:before {
  content: "\b0092";
}
.ai-realtor:before,
.ai-font-realtor:before {
  content: "\b0091";
}
.ai-eho:before,
.ai-font-eho:before {
  content: "\b0090";
}
.ai-lock-c:before,
.ai-font-lock-c:before {
  content: "\b0085";
}
.ai-location-a:before,
.ai-font-location-a:before {
  content: "\b0061";
}
.ai-lock-a:before,
.ai-font-lock-a:before {
  content: "\b0084";
}
.ai-comment-a:before,
.ai-font-comment-a:before {
  content: "\b0083";
}
.ai-settings:before,
.ai-font-settings:before {
  content: "\b0082";
}
.ai-world-o:before,
.ai-font-world-o:before {
  content: "\b0081";
}
.ai-wordpress:before,
.ai-font-wordpress:before {
  content: "\b0080";
}
.ai-world-f:before,
.ai-font-world-f:before {
  content: "\b0079";
}
.ai-user:before,
.ai-font-user:before {
  content: "\b0078";
}
.ai-video:before,
.ai-font-video:before {
  content: "\b0075";
}
.ai-showers:before,
.ai-font-showers:before {
  content: "\b0077";
}
.ai-tag:before,
.ai-font-tag:before {
  content: "\b0074";
}
.ai-settings-o:before,
.ai-font-settings-o:before {
  content: "\b0073";
}
.ai-question-o:before,
.ai-font-question-o:before {
  content: "\b0072";
}
.ai-rss:before,
.ai-font-rss:before {
  content: "\b0071";
}
.ai-menu:before,
.ai-font-menu:before {
  content: "\b0070";
}
.ai-phone:before,
.ai-font-phone:before {
  content: "\b0069";
}
.ai-phone-o:before,
.ai-font-phone-o:before {
  content: "\b0068";
}
.ai-medal:before,
.ai-font-medal:before {
  content: "\b0067";
}
.ai-menu-o:before,
.ai-font-menu-o:before {
  content: "\b0066";
}
.ai-map:before,
.ai-font-map:before {
  content: "\b0065";
}
.ai-map-f:before,
.ai-font-map-f:before {
  content: "\b0064";
}
.ai-language:before,
.ai-font-language:before {
  content: "\b0063";
}
.ai-location:before,
.ai-font-location:before {
  content: "\b0062";
}
.ai-house:before,
.ai-font-house:before {
  content: "\b0057";
}
.ai-house-f:before,
.ai-font-house-f:before {
  content: "\b0056";
}
.ai-house-i:before,
.ai-font-house-i:before {
  content: "\b0055";
}
.ai-fax:before,
.ai-font-fax:before {
  content: "\b0053";
}
.ai-funds:before,
.ai-font-funds:before {
  content: "\b0052";
}
.ai-envelope:before,
.ai-font-envelope:before {
  content: "\b0121";
}
.ai-envelope-o:before,
.ai-font-envelope-o:before {
  content: "\b0120";
}
.ai-envelope-f:before,
.ai-font-envelope-f:before {
  content: "\b0122";
}
.ai-coin:before,
.ai-font-coin:before {
  content: "\b0051";
}
.ai-dollar-o:before,
.ai-font-dollar-o:before {
  content: "\b0050";
}
.ai-check-list:before,
.ai-font-check-list:before {
  content: "\b0049";
}
.ai-check-o:before,
.ai-font-check-o:before {
  content: "\b0048";
}
.ai-cellphone:before,
.ai-font-cellphone:before {
  content: "\b0047";
}
.ai-check-a:before,
.ai-font-check-a:before {
  content: "\b0046";
}
.ai-calendar:before,
.ai-font-calendar:before {
  content: "\b0045";
}
.ai-car:before,
.ai-font-car:before {
  content: "\b0044";
}
.ai-bed:before,
.ai-font-bed:before {
  content: "\b0076";
}
.ai-buildings:before,
.ai-font-buildings:before {
  content: "\b0043";
}
.ai-lock-d:before,
.ai-font-lock-d:before {
  content: "\b0042";
}
.ai-magnifying-glass-a:before,
.ai-font-magnifying-glass-a:before {
  content: "\b0034";
}
.ai-lock-b:before,
.ai-font-lock-b:before {
  content: "\b0041";
}
.ai-magnifying-glass-b:before,
.ai-font-magnifying-glass-b:before {
  content: "\b0040";
}
.ai-magnifying-glass-c:before,
.ai-font-magnifying-glass-c:before {
  content: "\b0039";
}
.ai-magnifying-glass-d:before,
.ai-font-magnifying-glass-d:before {
  content: "\b0038";
}
.ai-magnifying-glass-e:before,
.ai-font-magnifying-glass-e:before {
  content: "\b0037";
}
.ai-magnifying-glass-f:before,
.ai-font-magnifying-glass-f:before {
  content: "\b0036";
}
.ai-magnifying-glass-g:before,
.ai-font-magnifying-glass-g:before {
  content: "\b0035";
}
.ai-layout-grid:before,
.ai-font-layout-grid:before {
  content: "\b0028";
}
.ai-layout-grid-active:before,
.ai-font-layout-grid-active:before {
  content: "\b0033";
}
.ai-layout-list:before,
.ai-font-layout-list:before {
  content: "\b0032";
}
.ai-layout-list-active:before,
.ai-font-layout-list-active:before {
  content: "\b0031";
}
.ai-layout-table:before,
.ai-font-layout-table:before {
  content: "\b0030";
}
.ai-layout-table-active:before,
.ai-font-layout-table-active:before {
  content: "\b0029";
}
.ai-file-powerpoint:before,
.ai-font-file-powerpoint:before {
  content: "\b0027";
}
.ai-file-sound:before,
.ai-font-file-sound:before {
  content: "\b0026";
}
.ai-file-image-o:before,
.ai-font-file-image-o:before {
  content: "\b0025";
}
.ai-file-pdf:before,
.ai-font-file-pdf:before {
  content: "\b0024";
}
.ai-file-excel:before,
.ai-font-file-excel:before {
  content: "\b0023";
}
.ai-file-f:before,
.ai-font-file-f:before {
  content: "\b0022";
}
.ai-file-code:before,
.ai-font-file-code:before {
  content: "\b0021";
}
.ai-file-image-p:before,
.ai-font-file-image-p:before {
  content: "\b0020";
}
.ai-document-a:before,
.ai-font-document-a:before {
  content: "\b0019";
}
.ai-file-o:before,
.ai-font-file-o:before {
  content: "\b0018";
}
.ai-file-zip:before,
.ai-font-file-zip:before {
  content: "\b0017";
}
.ai-folder:before,
.ai-font-folder:before {
  content: "\b0016";
}
.ai-file-text-r:before,
.ai-font-file-text-r:before {
  content: "\b0015";
}
.ai-file-video:before,
.ai-font-file-video:before {
  content: "\b0014";
}
.ai-file-word:before,
.ai-font-file-word:before {
  content: "\b0013";
}
.ai-file-text-f:before,
.ai-font-file-text-f:before {
  content: "\b0012";
}
.ai-file-text-o:before,
.ai-font-file-text-o:before {
  content: "\b0011";
}
.ai-arrow-c-n:before,
.ai-font-arrow-c-n:before {
  content: "\b0010";
}
.ai-arrow-c-p:before,
.ai-font-arrow-c-p:before {
  content: "\b0009";
}
.ai-arrow-d-n:before,
.ai-font-arrow-d-n:before {
  content: "\b0008";
}
.ai-arrow-d-p:before,
.ai-font-arrow-d-p:before {
  content: "\b0007";
}
.ai-arrow-e-n:before,
.ai-font-arrow-e-n:before {
  content: "\b0006";
}
.ai-arrow-e-p:before,
.ai-font-arrow-e-p:before {
  content: "\b0005";
}
.ai-arrow-a-n:before,
.ai-font-arrow-a-n:before {
  content: "\b0004";
}
.ai-arrow-a-p:before,
.ai-font-arrow-a-p:before {
  content: "\b0003";
}
.ai-arrow-b-n:before,
.ai-font-arrow-b-n:before {
  content: "\b0002";
}
.ai-arrow-b-p:before,
.ai-font-arrow-b-p:before {
  content: "\b0001";
}

/* No supporting prefix for ai- */
.ai-font-agentimage-logo:before {
  content: "\b0125";
}
.ai-font-agentimage-mono:before {
  content: "\b0124";
}
.ai-font-paper-airplane:before {
  content: "\b0123";
}
.ai-font-check:before {
  content: "\b0126";
}
.ai-font-x-sign:before {
  content: "\b0127";
}
.ai-font-location-b:before {
  content: "\b0060";
}
.ai-font-clock:before {
  content: "\b0132";
}
.ai-font-checkbox-a:before {
  content: "\b0131";
}
.ai-font-dollar-a:before {
  content: "\b0130";
}
.ai-font-phone-a:before {
  content: "\b0129";
}
.ai-font-home-a:before {
  content: "\b0128";
}
.ai-font-send:before {
  content: "\b0133";
}
.ai-font-package-tips-and-articles:before {
  content: "\b0142";
}
.ai-font-package-newsletter:before {
  content: "\b0141";
}
.ai-font-package-others:before {
  content: "\b0140";
}
.ai-font-package-properties:before {
  content: "\b0139";
}
.ai-font-package-lead-generation:before {
  content: "\b0138";
}
.ai-font-package-management:before {
  content: "\b0137";
}
.ai-font-package-marketing:before {
  content: "\b0136";
}
.ai-font-package-features:before {
  content: "\b0135";
}
.ai-font-package-financing:before {
  content: "\b0134";
}
.ai-font-package-communities:before {
  content: "\b0143";
}
.ai-font-circle-a:before {
  content: "\b0089";
}
.ai-font-pause-button-a:before {
  content: "\b0088";
}
.ai-font-play-button-a:before {
  content: "\b0087";
}
.ai-font-volume-a:before {
  content: "\b0086";
}
.ai-font-fax-a:before {
  content: "\b0054";
}
.ai-font-fax-b:before {
  content: "\b0165";
}
.ai-font-time-a:before {
  content: "\b0059";
}
.ai-font-location-c:before {
  content: "\b0058";
}
.ai-font-devices-desktop:before {
  content: "\b0159";
}
.ai-font-devices-laptop-a:before {
  content: "\b0164";
}
.ai-font-devices-laptop-b:before {
  content: "\b0163";
}
.ai-font-devices-mobile:before {
  content: "\b0158";
}
.ai-font-devices-tablet:before {
  content: "\b0157";
}
.ai-font-notes-a:before {
  content: "\b0162";
}
.ai-font-organizer-a:before {
  content: "\b0161";
}
.ai-font-envelope-a:before {
  content: "\b0160";
}

/* Multi Color */
[class^="ai-font-"] i:before,
[class*=" ai-font-"] i:before,
[class^="ai-font-"] i:after,
[class*=" ai-font-"] i:after{
  position: absolute;
  top: 0;
  right: 0;
}

/*Logo Icon*/
.ai-font-mc-houzz:before {
  content: "\b0108";
  color: #7ac142;
}
.ai-font-mc-houzz i:before {
  content: "\b0107";
  color: #FFF;
}
.ai-font-mc-houzz i:after {
  content: "\b0109";
  color: #000;
}
.ai-font-mc-flickr:before {
  content: "\b0113";
  color: #0063dc;
}
.ai-font-mc-flickr i:before {
  content: "\b0112";
  color: #ff0084;
}
.ai-font-mc-zillow:before {
  content: "\b0095";
  color: #5477bb;
}
.ai-font-mc-zillow i:before {
  content: "\b0094";
  color: #87bc43;
}
/*Logo Text*/
.ai-font-mc-text-facebook:before {
  content: "\b0151";
  color: #4d6baa;
}
.ai-font-mc-text-facebook i:before {
  content: "\b0152";
  color: #FFF;
}
.ai-font-mc-text-google-plus:before {
  content: "\b0150";
  color: #dc4e41;
}
.ai-font-mc-text-instagram:before {
  content: "\b0149";
  color: #262626;
}
.ai-font-mc-text-linkedin:before {
  content: "\b0148";
  color: #231f20;
}
.ai-font-mc-text-linkedin i:before {
  content: "\b0147";
  color: #007bb6;
}
.ai-font-mc-text-pinterest:before {
  content: "\b0146";
  color: #cb2027;
}
.ai-font-mc-text-twitter:before {
  content: "\b0144";
  color: #4fc6f8;
}
.ai-font-mc-text-twitter i:before {
  content: "\b0145";
  color: #FFF;
}
.ai-font-mc-text-youtube:before {
  content: "\b0156";
  color: #100f0d;
}
.ai-font-mc-text-youtube i:before {
  content: "\b0155";
  color: #e42324;
}
.ai-font-mc-text-zillow:before {
  content: "\b0153";
  color: #5477bb;
}
.ai-font-mc-text-zillow i:before {
  content: "\b0154";
  color: #87bc43;
}
