.footer {
  color: #fff;
  text-align: center;
  background-color: #7d7d7d;
  margin-top: 0;
  a {
    text-decoration: none;
    color: white;
  }
  text-transform: uppercase;
  font-size: .9em;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
  .nav li {
    display: inline-block;
    a:hover {
      background: none;
    }
  }
}

.footer-logos {
  color: #afafaf;
  font-size: 23px;
  margin-top: 25px;
}

.oregon-realty-footer {
  clear: both;
  overflow: hidden;
  img {
    display: block;
    margin: 0 auto;
    padding: 25px;
  }
}
