html {
  min-width:310px;
}
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus {
  color: @brand-tertiary;
}

.content p {
  padding: 10px;
  font-size: @font-size-large;
  color: @gray-light;
}

h1 {
  color: @brand-primary;
  text-transform: uppercase;
}
h1 span:nth-of-type(even) {
  color: @gray-light;
}

/** Utility classes **/
.bottom_margin_{
  &xsmall {
    margin-bottom: 1rem;
  }
  &small {
    margin-bottom: 5rem;
  }
  &med {
    margin-bottom: 10rem;
  }
  &large {
    margin-bottom: 25rem;
  }
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
