.paragraph--type--headline {
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  color: #ffffff;

  h2 {
    font-size: 5em;
    font-weight: bold;
  }
  p {
    color: #ffffff;
  }
}
