.info-card {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 360px;
  h2 {
    padding: 0;
    margin: 0;
  }
  border: 1px solid #fff;
}

.cta .card__cta__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 198, 62, 0.7);
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

span.cta-title {
  display: block;
  color: #fff;
  background: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 23px 0;
  position: relative;
  top: 130px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition-delay: 4s;
  -moz-transition-delay: 4s;
  -o-transition-delay: 4s;
  transition-delay: 4s;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}

span.cta-title::before {
  top: 0;
}
span.cta-title::before, span.cta-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 297px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

span.cta-title::after {
  bottom: 0;
}

.cta-tile-info {
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: -100%;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  transition: bottom 0.5s;
  text-align: center;
  padding: 0 73px;
  a {
    margin-top: 20px;
    display: inline-grid;
    color: #ffffff;
    text-decoration: none;
    width: 205px;
    padding: 11px 55px;
    border: 4px solid #fff;
    opacity: 0;
    -webkit-transition-delay: 5s;
    -moz-transition-delay: 5s;
    -o-transition-delay: 5s;
    transition-delay: 5s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    &:hover {
      opacity: 1;
      text-decoration: none;
      color: @brand-secondary;
      background: #ffffff;
    }
  }
}

/*** CTA Hover ***/
.cta .card__cta__item:hover .cta-title {
  top: 55px;
}

.cta .card__cta__item:hover .cta-tile-info {
  bottom: 23%;
}

.cta .card__cta__item:hover .cta-learn-more {
  opacity: 1;
}

.cta .card__cta__item:hover::before {
  opacity: 1;
}

.cta .card__cta__item:hover span.cta-title::before,
.cta .card__cta__item:hover span.cta-title::after {
  width: 0;
}

span.cta-title::before {
  top: 0;
}

span.cta-title::after {
  bottom: 0;
}
//
//article.landing-page,
//#landing-page {
//  .col-xs-1,
//  .col-sm-1,
//  .col-md-1,
//  .col-lg-1,
//  .col-xs-2,
//  .col-sm-2,
//  .col-md-2,
//  .col-lg-2,
//  .col-xs-3,
//  .col-sm-3,
//  .col-md-3,
//  .col-lg-3,
//  .col-xs-4,
//  .col-sm-4,
//  .col-md-4,
//  .col-lg-4,
//  .col-xs-5,
//  .col-sm-5,
//  .col-md-5,
//  .col-lg-5,
//  .col-xs-6,
//  .col-sm-6,
//  .col-md-6,
//  .col-lg-6,
//  .col-xs-7,
//  .col-sm-7,
//  .col-md-7,
//  .col-lg-7,
//  .col-xs-8,
//  .col-sm-8,
//  .col-md-8,
//  .col-lg-8,
//  .col-xs-9,
//  .col-sm-9,
//  .col-md-9,
//  .col-lg-9,
//  .col-xs-10,
//  .col-sm-10,
//  .col-md-10,
//  .col-lg-10,
//  .col-xs-11,
//  .col-sm-11,
//  .col-md-11,
//  .col-lg-11,
//  .col-xs-12,
//  .col-sm-12,
//  .col-md-12,
//  .col-lg-12 {
//    padding-left: 0;
//    padding-right: 0;
//  }
//}
//article.landing-page .container-fluid {
//  padding-left: 0;
//  padding-right: 0;
//}
.no-gutter,
.container-fluid.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
