.listing-photo-grid {
  &img{
    display: inline;
    &:not:first-of-type {
      width: 250px;
    }
  }
}
.listing--stats {
  display: flex;
  justify-content: space-between;
  line-height: 1.1;
  margin: 15px 15px 10px;
  border-bottom: 2px solid;
  border-color: @brand-quaternary;
  font-weight: 300;
  padding: 10px;
  &_item {
    flex-grow: 1;
    font-size: 2.4em;
  }
  &_label {
    display:block;
    font-size: .5em;
  }
}

.listing--address-price {
  &_price {
    color: @brand-primary;
    font-size: 2.6em;
  }
  &_address h1 {
    color: @gray-light;
    margin-top: 10px;
    font-size: 2.5em;
    display: inline;
    font-weight: 200;
  }
}
.listing-sidebar {
  min-height: 280px;
  font-size: 1.5em;
  margin-top: -15px;
  border: 1px solid @gray-lighter;
  display: flex;
  flex-direction: column;
  &--heading {
    line-height: 2em;
    background-color: @brand-secondary;
    padding: 15px;
    font-size: 1.15em;
    color: @gray-lighter;
  }
  &--inner {
    padding-left: 10px;
    flex: 2;
    &__agent-name {
      font-size: 1.8em;
    }
    &__agent-firm {
      font-size: .9em;
      color: #7777;
    }
  }
  &--footer {
    a {
      text-decoration: none;
      color: @brand-tertiary;
    }
  }
}
.property-summary {
  column-count: 2;
  column-gap: 15px;
  & p {
    border-bottom: 1px solid #ededed;
    margin-bottom: 5px;
    break-inside: avoid;
    page-break-inside: avoid;
  }
  &>p>span {
    width: 50%;
  }
}
@media only screen and (max-width: @screen-phone) {
  .property-summary {
    column-count: 1;
  }
}

.listing-leaflet-tooltip {
  line-height: .5em;
}

.leaflet-popup-pane {
  width: 250px;
  height: auto;
}

.listing-teaser {
  &--container {
    position: relative;
  }
  &--title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5px;
  }
  &--badge {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    line-height: 1.1em;
    padding-bottom: 10px;
    font-size: 40px;
  }
}

.modal-lg {
  width: 95%;
  height: 95%;
}
