.person-hero-container {
  background-image: url(../images/monopoly-house-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 2;
  font-size: 20px;
  &.teaser {
    background-image: none;
    margin-bottom: 42px;
    .person-thumb {
      top: 50px;
    }
    .person-title p {
      padding: 0;
    }
  }
  @media only screen and (max-width: @screen-md) {
    text-align: center;
    &.teaser {
      background-image: none;
      margin-bottom: auto;
      .person-thumb {
        top: 0;
      }
      .person-title p {
        padding: 0;
      }
    }
  }
  h2 {
    color: @brand-primary;
    text-transform: uppercase;
    a {
      color: @brand-primary;
    }
  }
  h2 span:nth-of-type(2) {
    color: @gray-light;
  }
  .person-thumb {
    margin: 4px 40px -20px 0;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    font-size: 145px;
    color: #aaa;
    position: relative;
    z-index: 10;
    @media only screen and (max-width: @screen-md) {
      margin: 0 auto;
      text-align: center;
    }
    &.center {
      margin: 0 auto;
      top: 0;
    }
  }
  .field--name-field-person-job-title {
    color: @gray-light;
  }
}
div.person-content-inner{
  color: @gray-light;
  margin-top: 30px;
  font-size: 1.5em;
  .person-content-info {
    font-size: .7em;
    .field--name-field-person-email,
    .paragraph--type--phone {
      margin-bottom: 10px;
    }
    i.glyphicon {
      padding: 5px;
      margin-right: 5px;
      color: #fff;
      background-color: @brand-primary;
      border-radius: 100%;
    }
  }
}
div.person-content-inner.teaser {
  margin-top: 0;
  font-size: 1em;
}

.view-persons {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .views-row {
    width: 289px;
    @media @mobile {
      width: 100%;
    }
  }
}
