.rating-stars {
  vertical-align: middle;
  color: @brand-warning;
}
span.person-rating-possible {
  color: @gray-light;
  font-size: .7em;
}
a.person-reviews {
  text-transform: uppercase;
  color: @brand-secondary;
}
div.person-reviews-user {
  display: inline;
  font-size: .7em;
  font-style: italic;
}
div.person-reviews-list {
  font-size: 1em;
}
.person-reviews-list-item {
  p {
    padding: 0;
  }
  border-top: @gray-lighter 1px solid;
  padding: 1em 0;
}
h4.person-reviews-summary {
  font-size: .7em;
  font-style: italic;
}
.person-reviews-container {
  padding-left: 10px;
}