.real_estate_property {
  overflow: hidden;
}

.real_estate_property--heading {
  height: 341px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 30px;
  }
}

.real_estate_property--quick_facts {
  @media (min-width: @screen-md-min) {
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @media (min-width: @screen-lg-min) {
    height: inherit;
  }
  .field--name-field-price {
    font-size: @font-size-h2;
  }
}

.real_estate_property .tab-content {
  padding-top: 8px;
}