.stat-card {
  color: #ffffff;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  .statistic {
    font-weight:bold;
    font-size: 5em;
  }
  .glyphicon {
    font-size: 5em;
  }
}

/* color every other statistic element the primary color */
.field--name-field-page-slice-content .field--item:nth-child(even) div.statistic span {
  color: @brand-primary;
}

.field--name-field-page-slice-content .field--item:nth-child(even) div.field--name-field-stat-title {
  color: @brand-primary;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .stat-card {
    padding-top: 3em;
    padding-bottom: 3em;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .stat-card {
    padding-top: 4em;
    padding-bottom: 4em;
  }

}

