{#
/**
 * @file real_estate_property.html.twig
 * Default theme implementation to present Property data.
 *
 * This template is used when viewing Property pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_real_estate_property()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'real_estate_property'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
