{#
/**
 * @file real_estate_property.html.twig
 * Default theme implementation to present Property data.
 *
 * This template is used when viewing Property pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_real_estate_property()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'real_estate_property'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <h1>
    {{ content.title }}
  </h1>
  <div class="real_estate_property--heading">
    <div class="real_estate_property--photo col-md-8">
      {{ content.field_photo }}
    </div>
    <div class="real_estate_property--quick_facts col-md-4">
      {{ content.field_price }}
      {{ content.field_bedrooms }}
      {{ content.field_bathrooms }}
      {{ content.field_lot_size }}
      {{ content.field_year_built }}
    </div>
  </div>

  <div class="col-md-12 real_estate_property--main">
    {{ content.field_description }}
    {{ content.field_geofield }}
  </div>
</div>
