{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{{ attach_library('pgnw/sticky') }}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="row listing-photo-grid">
    <div class="col-md-8">
      {{ content.field_listing_photos[0] }}
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
      {{ content.field_listing_photos[1] }}
      {{ content.field_listing_photos[2] }}
    </div>
  </div>
  <div class="row listing">
    <div class="col-md-8">
      <div class="row listing--address_price">
        <div class="listing--address-price_price col-xs-12 col-sm-4 col-sm-push-8 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8 text-right">
          <span class="text-center listing--address-price_item">${{ price|number_format(0, "",",") }}<span class="listing--address-price_label"></span></span>
        </div>
        <div class="listing--address-price_address hidden-xs visible-sm visible-md visible-lg col-xs-12 col-sm-8 col-md-7 col-lg-8 col-sm-pull-4 col-md-pull-5 col-lg-pull-4 property-header-address ">
          {% if address_display %}
            <h1>{{ street_full }}</h1><br>
            <span>{{ city }} {{ zip }}</span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 listing--stats">
          <span class="text-center listing--stats_item">{{ beds }}<span class="listing--stats_label text-uppercase">Beds</span></span>
          <span class="text-center listing--stats_item">{{ baths }}<span class="listing--stats_label text-uppercase">Baths</span></span>
          <span class="text-center listing--stats_item">{{ sqfeet }}<span class="listing--stats_label text-uppercase">SQ FT</span></span>
          <span class="text-center listing--stats_item">{{ year_built }}<span class="listing--stats_label text-uppercase">Year Built</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 listing--remarks">
              <p>{{ remarks }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Property Summary</h3>
            </div>
            <div class="panel-body property-summary">
              <p class="clearfix">
                <span class="text-uppercase small">Type:</span>
                <span class="pull-right text-right"><strong>{{ property_type }} / {{ property_category }}</strong></span>
              </p>
              <p class="clearfix">
                <span class="text-uppercase small">MLS #:</span>
                <span class="pull-right text-right"><strong>{{ mls }}</strong></span>
              </p>
              <p class="clearfix">
                <span class="text-uppercase small">Lot Size:</span>
                <span class="pull-right text-right"><strong>{{ lot_size }}</strong></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ content.field_geofield }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Exterior Features</h3>
            </div>
            <div class="panel-body">
              <p>{{ exterior_features }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Interior Features</h3>
            </div>
            <div class="panel-body">
              <p>{{ interior_features }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Kitchen Features</h3>
            </div>
            <div class="panel-body">
              {{ kitchen_features }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 sticky">
      <div class="listing-sidebar">
        <div class="listing-sidebar--heading">Contact the listing agent:</div>
        <div class="listing-sidebar--inner">
          <div class="listing-sidebar--inner__agent-name">{{ agent_name }}</div>
          <div class="listing-sidebar--inner__agent-firm">{{ agent_office }}</div>
          <div class="listing-sidebar--inner__agent-badge"></div>
        </div>
        <div class="listing-sidebar--footer">
          <h2 class="listing-sidebar--footer__agent-contact text-center text-danger"><a href="tel:{{ agent_phone|replace({'-': ''}) }}">{{ agent_phone }}{% if agent_phone_ext %}x{{ agent_phone_ext }}{% endif %}</a></h2>
        </div>
      </div>
    </div>
  </div>
</article>
