{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{%
    set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes.addClass('author') }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}
    <div{{ content_attributes.addClass(['content', 'before-after-full']) }}>
        <div class="before-after-full__media">
            <div class="before-after-full__media_featured_photo">
                {{ content.field_featured_photo }}
            </div>
            <div class="before-after-full__media_headline">
                <h2>{{ node.field_headline.0.value }}</h2>
            </div>
        </div>
        <div class="before-after-full__container container">
            <div class="row">
                <div id="before-after-full__before-photos" class="before-after-full__before-gallery col-md-6">
                    <div id="before-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for key, item in content.field_before_photos if key|first != '#' %}
                                {% if loop.first %}
                                    {% set indicatorclass = 'active' %}
                                {% else %}
                                    {% set indicatorclass = '' %}
                                {% endif %}
                                <li data-target="#before-carousel" data-slide-to="{{ loop.index0 }}" class="{{ indicatorclass }}"></li>

                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for key, item in content.field_before_photos if key|first != '#' %}
                                {% if loop.first %}
                                    {% set itemclass = 'item active' %}
                                {% else %}
                                    {% set itemclass = 'item' %}
                                {% endif %}
                                <div class="{{ itemclass }}">
                                    {{ content.field_before_photos[loop.index0] }}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#before-carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#before-carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="before-after-full__carousel_heading">
                        <h3 class="before">Before Photos</h3>
                    </div>
                </div>
                <div id="before-after-full__after-photos" class="before-after-full__after-gallery col-md-6">
                    <div id="after-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for key, item in content.field_after_photos if key|first != '#' %}
                                {% if loop.first %}
                                    {% set indicatorclass = 'active' %}
                                {% else %}
                                    {% set indicatorclass = '' %}
                                {% endif %}
                                <li data-target="#after-carousel" data-slide-to="{{ loop.index0 }}" class="{{ indicatorclass }}"></li>

                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for key, item in content.field_after_photos if key|first != '#' %}
                                {% if loop.first %}
                                    {% set itemclass = 'item active' %}
                                {% else %}
                                    {% set itemclass = 'item' %}
                                {% endif %}
                                <div class="{{ itemclass }}">
                                    {{ content.field_after_photos[loop.index0] }}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#after-carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#after-carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="before-after-full__carousel_heading">
                        <h3 class="after">After Photos</h3>
                    </div>
                </div>
            </div>
            <div class="row before-after-full__details">
                <div class="before-after-full__details--map col-md-8">
                    {{ content.field_geofield }}
                </div>
                <div class="before-after-full__details--info col-md-4">
                    <div class="col-md-12 col-md-offset-1">
                        <h3>Project Details:</h3>
                        <ul>
                            <li>{{ node.field_purchase_text.0.value }} <span class="text-warning">${{ node.field_purchase_price.0.value|number_format(0) }}</span> on <span class="text-warning">{{ node.field_purchase_date.0.value|date('n/j/Y') }}</span></li>
                            <li>{{ node.field_sold_text.0.value }} <span class="text-warning">${{ node.field_sale_price.0.value|number_format(0) }}</span> on <span class="text-warning">{{ node.field_sale_date.0.value|date('n/j/Y') }}</span></li>
                            <li>{{ node.field_beds.0.value }} bedroom</li>
                            <li>{{ node.field_baths.0.value }} bath</li>
                            <li>{{ node.field_square_feet.0.value }} Sq. Feet</li>
                        </ul>
                        <h3>Location:</h3>
                        <p>{{ content.field_property_address }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
