{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
{% set names = node.title.value |split(' ') %}

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {# Person Hero #}
    <div class="person-hero-container">
      <div class="person-hero-inner container">
        <div class="row">
          <div class="person-hero-thumb col-md-2 col-md-offset-1 col-sm-12">
            <div class="person-thumb">
              {{ content.field_photo }}
            </div>
          </div>
          <div class="person-title col-md-3">
            {{ title_prefix }}
            <h2{{ title_attributes }}>
              {% for name in names %}
              <span>{{ name }}</span>
              {% endfor %}
            </h2>
            {{ title_suffix }}
            {{ content.field_person_job_title }}
            {% if average_rating %}
              <section class="person-rating">
              <span class="rating-stars">
                {% for i in 1..average_rating %}
                  <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
              </span>
                <span class="person-rating-average">{{ average_rating|raw }}</span><span class="person-rating-possible">/5</span>
                {% block review_count %}
                  <a class="person reviews btn btn-warning btn-sm" href="#reviews" role="button">{{ review_count }} reviews</a>
                {% endblock %}
              </section>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    {# Person Content#}
    <div class="person-content-container container">
      <div class="person-content-inner">
        <div class="row">
          <div class="person-content-info col-lg-4 col-md-5 col-sm-5">
            <div class="person-content-info__video">
              {{ content.field_bio_video }}
            </div>
            <h3>Contact Information</h3>
            {{ content.field_person_email }}
            {{ content.field_person_phone_numbers }}
            {{ content.field_contact }}
          </div>
          <div class="person-content-body col-lg-8 col-md-7 col-sm-7">
            {{ content.body }}
            {#{% if content.field_reviews %}#}
            {#<section class="person-reviews-container">#}
            {#<header class="person-reviews-header">#}
            {#<h3 id="reviews">Ratings and Reviews</h3>#}
            {#</header>#}
            {#{{ content.field_reviews }}#}
            {#</section>#}
            {#{% endif %}#}
          </div>
        </div>
    </div>
  </div>
</article>
