{{ attach_library('pg_before_after/reveal') }}
{{ attach_library('pgnw/scrollreveal') }}

<div class="before-after-card">
    <div class="before-after-card__media">
        <div class="before-after-card__media__image">{{ content.field_featured_photo }}</div>
        <div class="before-after-card__media__info"><h3>{{ node.field_headline.0.value }}</h3><a class="btn btn-warning" href="{{ url }}" role="button">Details and Photos <span class="glyphicon glyphicon-log-in"></span></a>
        </div>
    </div>
    <div class="before-after-card__address">{{ content.field_property_address }}</div>
    <div class="before-after-card__purchased-info">{{ node.field_purchase_text.0.value }} <span class="text-info">${{ node.field_purchase_price.0.value|number_format(0) }}</span> on <span class="text-info">{{ node.field_purchase_date.0.value|date('n/j/Y') }}</span></div>
    <div class="before-after-card__sold-info">{{ node.field_sold_text.0.value }} <span class="text-warning">${{ node.field_sale_price.0.value|number_format(0) }}</span> on <span class="text-warning">{{ node.field_sale_date.0.value|date('n/j/Y') }}</span></div>
</div>
